<h1>Restaurants</h1>




<% @restaurants.each do |restaurant| %>
  <h4> <%= link_to restaurant.name, restaurant_path(restaurant)  %>  </h4>
  <% end %>

<%= link_to "Add new restaurant", new_restaurant_path%>
